@{
    ViewBag.Title = "Home Page";
}

<h2> Witaj w profilu twojego warsztatu</h2>
<fieldset>
    <button type="button" onclick="location.href = '@Url.Action("Index","CurrentWorkshopDetails")'">Dane konta</button>
</fieldset>
